# Mac files
.DS_Store

# local test data
/user_data/

# Cache
/DeDRM_plugin/__pycache__
/DeDRM_plugin/standalone/__pycache__

/tests
/DeDRM_plugin/del

/test2.py
/.vscode
/new
/KFX

# ignore python temp files
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyc

# ignore python cache files
__pycache__/
